{% extends "bootstrap/base.html" %}
{% block title %}Labeling IMAGE{% endblock %}

{% block navbar %}

<nav class="navbar navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Labeling</a>
		</div>

		<div class="collapse navbar-collapse" id="navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/">HOME</a></li>
        {% if not session.logged_in %}
				<li class=nav-item><a class="nav-link" href="/login">LOGIN</a></li>
        {% else %}
				<li class=nav-item><a class="nav-link" href="/logout">LOGOUT</a></li>
        {% endif %}
			</ul>
      <p class="navbar-text">Welcome Guest User !</p>
		</div>

	</div>
</nav>

{% endblock %}

{% block content %}

<div class="container">
  {% block page_content %}{% endblock %}
</div>

{% endblock %}
